mixin start(lang)
    .ui.page.grid(data-bind!='visible: page()==\'start\'')
        .ui.two.wide.column &nbsp;
        .ui.twelve.wide.column.centeredcontent
            br
            br
            img.ui.small.circular.image(src='tempimage.png')
            h1.ui.header= lang.howgoodtitle
            h3.ui.header= lang.howgoodbody
            .ui.yellow.huge.button(data-bind!='click: function(){ page(\'0\'); }')= lang.begin
        .ui.two.wide.column &nbsp;

        .ui.eight.wide.column
            br
            strong= lang.copyright
        .ui.eight.wide.column
            .ui.horizontal.list
                a.item(href='#')
                    img.ui.avatar.image(src='tempimage.png')
                    .content.itemcontent= lang.bashprojects
                a.item(href='#')
                    img.ui.avatar.image(src='tempimage.png')
                    .content.itemcontent= lang.cleverbash
    span